.store-page {
  margin-left: 20px;
}

.coin-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  padding: 5px 10px;
  border-radius: 10px;
  width: auto; 
  max-width: fit-content;
}

.coin-box-wrapper {
  margin-left: 20px; /* Space from the left edge */
}

.coin-icon {
  width: 24px; /* Adjusted icon size */
  height: 24px;
  margin-right: 5px; /* Adjust margin for a tighter fit */
}

.coin-count {
  font-size: 1.5rem; /* Adjust coin number size */
}
